node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


*~$*.xlsx
kAraH/dattAMsh/ascii
src/tests/data/nAradavAkyam_out.xlsx
__pycache__
a.ts
a.py
.~lock.*
a.xlsx
a.json
a.txt
a.yaml

src/db/scripts/backup/

data/ramayan/raw_data
data/ramayan/out
data/ramayan/zipped
data/ramayan/data
data/ramayan/test_output.md
rAmAyaNam.zip

static/~partytown
src/components/pages/main_page/local_config.yaml


temp
src/db/scripts/out/