node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


*~$*.xlsx
kAraH/dattAMsh/ascii
src/tests/data/valmiki_ramayan_out.xlsx
__pycache__