# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
node_modules
.venv
.svelte-kit
build

.netlify
.vercel

src/tools/converter/resources/dattAMsh/

data/ramayan/data
data/ramayan/raw_data
data/ramayan/out
data/ramayan/text_data
data/ramayan/zipped
data/ramayan/translations/
data/ramayan/ramayan_map.json
data/ramayan/summary/summaries

src/db/scripts/out/
src/db/migrations/
src/db/scripts/backup/

static/~partytown
static/sitemap.xml
static/robots.txt