# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
node_modules
.venv
.svelte-kit
build

src/tools/converter/resources/dattAMsh/

data/ramayan/data
data/ramayan/raw_data
data/ramayan/out
data/ramayan/text_data
data/ramayan/zipped
data/ramayan/ramayan_map.json