{%- if all_tests_passed -%}

# ✅ All Tests passed
{%- else -%}
# ❌ Some Tests failed
{% endif %}

{%- for test_case in test_info %}
{%- if test_case.report_test_fail_if_found %}
## {% if test_case.failed_cases|length == 0 %}✔{% else %}✗{% endif %} {{ test_case.test_title|safe }}

{% if test_case.failed_cases|length > 0 -%}
_{{test_case.test_info}}_ : `{{"`, `".join(test_case.failed_cases)|safe}}`
{%- endif %}

{%- endif %}
{%- endfor %}

## Checks that need manual verification and attention

{%- for test_case in test_info %}
{%- if not test_case.report_test_fail_if_found %}
### {% if test_case.failed_cases|length == 0 %}✔{% endif %} {{ test_case.test_title|safe }}

{% if test_case.failed_cases|length > 0 -%}
_{{test_case.test_info}}_ : `{{"`, `".join(test_case.failed_cases)|safe}}`
{%- endif %}

{%- endif %}
{%- endfor %}