@base {
  /* body {
     font-family: 'Roboto', 'Nirmala UI', sans-serif;
  } */
  /* the above approach dos'nt work as Skeleton UI overrides these behaviours */
}

:root [data-theme='wintry'] {
  --theme-font-family-base: 'Roboto', 'Nirmala UI', sans-serif;
  --theme-font-family-heading: 'Roboto', 'Nirmala UI', sans-serif;
}

$fonts_multi: (
  'Nirmala': (
    'Nirmala UI',
    'ttf'
  ),
  'AdobeDevanagari': (
    'Adobe Devanagari',
    'otf'
  ),
  'AdobeTelugu': (
    'Adobe Telugu',
    'otf'
  ),
  'IskoolaPota': (
    'Iskoola Pota',
    'ttf'
  )
);

@each $file, $font in $fonts_multi {
  @font-face {
    font-family: nth($font, 1);
    src:
      url('./fonts/regular/woff2/#{$file}.woff2') format('woff2'),
      url('./fonts/regular/#{$file}.#{nth($font, 2)}');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: nth($font, 1);
    src:
      url('./fonts/bold/woff2/#{$file}B.woff2') format('woff2'),
      url('./fonts/bold/#{$file}B.#{nth($font, 2)}');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}

$fonts_variable: (
  'NotoSerifTelugu': (
    'Noto Serif Telugu',
    'ttf'
  ),
  'NotoSerifKannada': (
    'Noto Serif Kannada',
    'ttf'
  ),
  'NotoSerifSinhala': (
    'Noto Serif Sinhala',
    'ttf'
  )
);

@each $file, $font in $fonts_variable {
  @font-face {
    font-family: nth($font, 1);
    src:
      url('./fonts/variable/woff2/#{$file}.woff2') format('woff2'),
      url('./fonts/variable/#{$file}.#{nth($font, 2)}');
    // font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

.indic-font {
  font-family: map-get($fonts_multi, 'Nirmala');
}
.normal-font {
  font-family: map-get($fonts_multi, 'AdobeDevanagari');
}
