/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@base {
  /* body {
     font-family: 'Roboto', 'Nirmala UI', sans-serif;
  } */
  /* the above approach dos'nt work as Skeleton UI overrides these behaviours */
}

:root [data-theme='wintry'] {
  --theme-font-family-base: 'Roboto', 'Nirmala UI', sans-serif;
  --theme-font-family-heading: 'Roboto', 'Nirmala UI', sans-serif;
}

$fonts: (
  'Nirmala': 'Nirmala UI',
  'AdobeDevanagari': 'Adobe Devanagari',
  'AdobeTelugu': 'Adobe Telugu'
);

@each $file, $name in $fonts {
  @font-face {
    font-family: $name;
    src: url('./fonts/regular/woff2/#{$file}.woff2') format('woff2');
    font-weight: normal;
  }
  @font-face {
    font-family: $name;
    src: url('./fonts/bold/woff2/#{$file}B.woff2') format('woff2');
    font-weight: bold;
  }
}

.indic-font {
  font-family: map-get($fonts, 'Nirmala');
}
.normal-font {
  font-family: map-get($fonts, 'AdobeDevanagari');
}
