@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/wintry';

@custom-variant dark (&:where(.dark, .dark *));
